@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --gradient: linear-gradient(to top left,#091E3A,#2F80ED,#2D9EE0);
    --background: hsl(60, 11%, 81%);
    --foreground: hsl(0, 0%, 0%);

    --muted: hsl(228 7.3% 91.3%);
    --muted-foreground: hsl(228 3.65% 41.3%);

    --popover: hsl(228 31.6% 91.3%);
    --popover-foreground: hsl(228 7.3% 0.65%);

    --card: hsl(228 31.6% 91.3%);
    --card-foreground: hsl(228 7.3% 0.65%);

    --border: hsl(228 12.3% 89.52%);
    --input: hsl(228 12.3% 89.52%);

    --primary: hsl(228 73% 13%);
    --primary-foreground: hsl(228 1.46% 91.3%);

    --secondary: hsl(228 3.65% 95.65%);
    --secondary-foreground: hsl(228 5.38% 11.3%);

    --accent: hsl(228 3.65% 95.65%);
    --accent-foreground: hsl(228 5.38% 11.3%);

    --destructive: hsl(0 84.2% 60.2%);
    --destructive-foreground: hsl(0 0% 98%);

    --ring: hsl(228 73% 13%);

    --radius: 0.5rem;
  }
  

  .dark {
    --gradient: linear-gradient(to top left,#334d50,#cbcaa5);

    --background: hsl(191, 63%, 5%);
    --foreground: hsl(198 2.2% 96.3%);

    --muted: hsl(198 5.06% 14.3%);
    --muted-foreground: hsl(198 2.2% 52.6%);

    --popover: hsl(198 64.12% 4.94%);
    --popover-foreground: hsl(198 2.2% 96.3%);

    --card: hsl(198 64.12% 4.94%);
    --card-foreground: hsl(198 2.2% 96.3%);

    --border: hsl(198 5.06% 14.3%);
    --input: hsl(198 5.06% 14.3%);

    --primary: hsl(198 22% 26%);
    --primary-foreground: hsl(198 2.2% 96.3%);

    --secondary: hsl(198 5.06% 14.3%);
    --secondary-foreground: hsl(198 2.2% 96.3%);

    --accent: hsl(198 5.06% 14.3%);
    --accent-foreground: hsl(198 2.2% 96.3%);

    --destructive: hsl(0 62.8% 30.6%);
    --destructive-foreground: hsl(198 2.2% 96.3%);

    --ring: hsl(198 22% 26%);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}